<app-header></app-header>
        <main class="flex-fill">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <img src="../assets/img/produtos/000001.jpg" class="img-thumbnail" id="imgProduto">
                        <br class="clearfix">
                        <div class="row my-3 gx-3">
                            <div class="col-3">
                                <img src="../assets/img/produtos/000001.jpg" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                            <div class="col-3">
                                <img src="../assets/img/produtos/000013.jpg" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                            <div class="col-3">
                                <img src="../assets/img/produtos/000014.jpg" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                            <div class="col-3">
                                <img src="../assets/img/produtos/000015.jpg" class="img-thumbnail" onclick="trocarImagem(this)">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h1>Xbox - Grid Legends</h1>
                        <p><br><br>
                        Grid Legends (estilizado como GRID Legends) é um videogame de corrida de 2022 desenvolvido pela Codemasters e publicado pela Electronic Arts. É a quinta parcela da franquia Grid. O jogo foi lançado para Microsoft Windows, PlayStation 4, PlayStation 5, Xbox One e Xbox Series X/S em 25 de fevereiro de 2022. 
                        </p>
                        <p>
                            <button class="btn btn-lg btn-primary mb-3 mb-xl-0 me-2">
                                <i class="bi-cart"></i> Adicionar ao Carrinho
                            </button>
                            <button class="btn btn-lg btn-outline-primary">
                                <i class="bi-heart"></i> Adicionar aos Favoritos
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </main>